<!DOCTYPE html>
<html>
<head>
	<title>Course Scheduler</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css">
	<script type="text/javascript">
	$(document).ready(function() {
    	// page is now ready, initialize the calendar...
    	var schedule = <%- JSON.stringify(schedule) %>;
    	var events = [];
    	for (var i = 0 ; i < schedule.length ; i++) {
    		var desc = schedule[i].course.course_desc;
    		var tempEvents = [];
    		for (var j = 0 ; j < schedule[i].days.length ; j++) {
    			var start = schedule[i].days[j].start;
    			var end = schedule[i].days[j].end;
    			var event = {
    				title: desc,
    				start: start,
    				end: end,
    				allDay: false
    			};
    			tempEvents.push(event);
    		}
    		events = events.concat(tempEvents); 
    	}
    	$('#calendar').fullCalendar({
    			weekends: false, // will hide Saturdays and Sundays
    			defaultView: 'agendaWeek',
    			header: {
    				left: '',
    				center: '',
    				right: ''
    			},
    			events: events
    		});
    	$(".closeButton").click(function(event) {
    		var course_id = $(event.target).children('#course_id').val();
			var section_id = $(event.target).children('#section_id').val();
			var body = {
				course_id: course_id,
				section_id: section_id
			};
			$.post(window.location.origin + "/removeCourse", body, function(result) {
				window.location.reload(true);
			});
		});

    });
	</script>
</head>
<body>
	<div class="container-fluid">
		<br>
		<h1>Dashboard</h1>
		<br>
		<div class="card" style="float: left;">
			<h5 class="card-header">Actions</h5>
			<div class="card-body">
				<div class="card-text btn-group-vertical">
					<a href="/addCourse" class="btn btn-primary">Register for course</a>
				</div>
			</div>
		</div>
		<div class="card" style="float: right;">
			<h5 class="card-header">Course List</h5>
			<div class="list-group list-group-flush">
				<% for (var i = 0 ; i < schedule.length ; i++) { %>
				<div class="list-group-item">
					<h5><%= schedule[i].course.course_desc %></h5>
					<strong>Timings: </strong> <% var string = ''; for (var j = 0 ; j < schedule[i].dow.length ; j++) { string.concat(schedule[i].dow[j]) } %><%= string.substring(0, string.length - 1); %> <%= moment(schedule[i].section.start_tm).format('h:mm') %> - <%= moment(schedule[i].section.end_tm).format('h:mm A') %><br>
					<strong>Location: </strong> <%= schedule[i].classroom.clssrm_desc %><br>
					<strong>Professor: </strong> <%= schedule[i].professor.first_nm %> <%= schedule[i].professor.last_nm %>
					<button type="button" class="closeButton btn btn-danger" aria-label="Close">
						<input type="hidden" id="course_id" value=<%= schedule[i].course.course_id %>>
						<input type="hidden" id="section_id" value=<%= schedule[i].section.section_id %>>
					  	<span>Drop course</span>
					</button>
				</div>
				<% } %>
			</div>
		</div>
		<a href="/logout" class="btn btn-primary">Logout</a>
	</div>
	<div class="container-fluid">
		<div id='calendar'></div>
	</div>

</body>
</html>